/* General Styles */

body {
    font-family: 'Montserrat', sans-serif;
    color: #303841;
    background-color: #eeeeee;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: 'Playfair Display', serif;
  }
  
  .container {
    margin-top: 50px;
    margin-bottom: 50px;
  }
  
  /* Navbar */
  
  .navbar {
    background-color: #303841;
  }
  
  .navbar-brand {
    font-size: 24px;
  }
  
  .nav-link {
    font-size: 18px;
    color: #eeeeee !important;
  }
  
  /* Hero Section */
  
  #hero {
    padding: 50px 0;
  }
  
  /* Projects Section */
  
  #projects {
    padding: 50px 0;
  }
  
  .project-item h3 {
    margin-top: 20px;
  }
  
  /* About Section */
  
  #about {
    padding: 50px 0;
  }
  
  /* Contact Section */
  
  #contact {
    padding: 50px 0;
  }
  
  /* Footer */
  
  footer {
    background-color: #d4d4d4;
    padding: 15px 0;
  }
  